body, button, input, select, textarea {
  color: #404040;
  font-family: "Aktiv Grotesk W01","Helvetica Neue",Arial,sans-serif;
  font-size: 12px;
  font-weight: 200;
  line-height: 1.4;
}

.ident {
	margin-left: 200px;
}

