body, button, input, select, textarea {
  color: #404040;
  font-family: "Aktiv Grotesk W01","Helvetica Neue",Arial,sans-serif;
  font-size: 12px;
  font-weight: 200;
  line-height: 1.4;
}

.ident {
	margin-left: 200px;
}

.centered {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	border: 1px dashed grey;
	width: 500px;
}


.loginbox {
	float: left;
	width: 45%;
	padding: 0;
}
.spacer {
	float: left;
	width: 9.9%;
	padding: 0;
}
